{% extends "base.html" %}
{% load i18n static %}

{% block title %}403 - {% translate "Forbidden" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="my-5">
        <h1 class="h3">403 - {% translate "Forbidden" %}</h1>
        <p>{% translate "You are not allowed to access this page." %}</p>
        <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
    </div>
{% endblock %}
