{% extends "base.html" %}
{% load i18n static %}

{% block title %}404 - {% translate "Not Found" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="my-5">
        <h1 class="h3">404 - {% translate "Not Found" %}</h1>
        <p>{% translate "The page you are looking for might have been deleted or expired." %}</p>
        <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
    </div>
{% endblock %}
