{% extends "base.html" %}
{% load i18n static %}

{% block title %}500 - {% translate "Internal Server Error" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="my-5">
        <h1 class="h3">500 - {% translate "Internal Server Error" %}</h1>
        <p>{% translate "There is something wrong with the server." %}</p>
        <p>{% translate "If you continue to see this error, please contact the administrators so it can be fixed." %}</p>
        <a class="btn btn-primary" href="/">{% translate "Go to homepage" %}</a>
    </div>
{% endblock %}
