<!DOCTYPE html>
{% load i18n static django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <title>{% block title %}{{ TITLE }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'select/select.css' %}" />
    {% if BOOTSTRAP_THEME_COLORS %}<link rel="stylesheet" type="text/css" href="{% url 'colors' %}">{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <template id="i18n-delete">{% translate 'Delete' %}</template>
</head>
<body>
    <header class="bg-black border-bottom" data-bs-theme="dark">
        <div class="container">
            <nav class="navbar navbar-expand-sm">
                <a {% if user.is_authenticated %}href="/" rel="home"{% endif %} class="navbar-brand">{{ TITLE }}</a>
                <ul class="navbar-nav me-auto">
                    {% for href, label in NAV %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ href }}">{{ label }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-secondary">{% translate 'Logout' %}</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <main class="container py-3">
        {% for message in messages %}
            <div class="alert alert-{{ message|bootstrap_message_alert_type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    {% block extra_scripts %}{% endblock %}
</body>
</html>
