{% extends "base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}{% translate "Schedule appointment" %}{% endblock %}

{% block content %}
    <h1>{{ object.schedule }}</h1>

    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <p class="alert alert-danger" role="alert">{% translate 'Your selection could not be saved. Maybe someone was quicker than you. Please select a different timeslot.' %}</p>
        {% endif %}
        {% if user.is_active %}
            <p class="alert alert-info">{% translate 'You can select timeslots from the past because you are logged in.' %}</p>
        {% endif %}
        <p>{% translate 'Please select one of the available timeslots to make an appointment. You will still be able to change your selection later.' %}</p>

        {% if table.times %}
            {% if object.schedule.layout == object.schedule.LIST %}
                <select name="timeslot" class="form-select mb-3">
                    <option value="">---</option>
                    {% for date, row in table.timeslots.items %}
                        {% for time, slot in row.items %}
                            {% if slot %}
                                <option value="{{ slot.id }}" {% if slot.id == form.timeslot.value %}selected{% endif %}>{{ date }} {{ time }} {{ slot.comment }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            {% else %}
                <div class="full-width my-2">
                    <table class="table table-hover" data-js="multi-datetime">
                        <thead>
                            <tr>
                                <th></th>
                                {% for time in table.times %}
                                    <th class="text-center">{{ time }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for date, row in table.timeslots.items %}
                                <tr>
                                    <th>{{ date }}</th>
                                    {% for time, slot in row.items %}
                                        <td class="p-0">
                                            {% if slot %}
                                                <label class="d-block w-100 p-2 text-center">
                                                    <input type="radio" name="timeslot" value="{{ slot.id }}" {% if slot.id == form.timeslot.value %}checked{% endif %}>
                                                </label>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% else %}
            <p class="alert alert-info">{% translate 'No more appointments available' %}</p>
        {% endif %}

        <p class="form-text">{% translate 'If you have to change or cancel your appointment, please make sure to notify us as early as possible. Our experiments are often complex and expensive. If you do not show up for appointments repeatedly, we may no longer consider you for future studies.' %}</p>

        <div class="d-print-none mb-3">
            <button class="btn btn-secondary" name="timeslot" value="">{% translate 'Reset' %}</button>
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
