{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "Start" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'schedule-create' %}">{% translate 'Create new' %}</a>

    <div class="list-group my-3">
        {% for schedule in object_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'schedule-update' schedule.uuid %}">{{ schedule }}</a>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
