{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% translate "Delete schedule" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% translate 'Are you sure you want to delete this schedule?' %}</p>
        <div class="d-print-none mb-3">
            <a href="{% url 'schedule-update' object.uuid %}" class="btn btn-outline-primary mb-1">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger mb-1">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
