{% extends "base.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}
    {% if object %}
        {% translate "Edit" %}
    {% else %}
        {% translate "Create new schedule" %}
    {% endif %}
    &middot; {{ block.super }}
{% endblock %}

{% block content %}
    <form id="add_date"></form>
    <form id="add_time"></form>

    <form method="post">
        {% csrf_token %}
        {% include 'form_errors.html' with form=form %}
        {% bootstrap_field form.title %}
        {% bootstrap_field form.advance %}
        {% bootstrap_field form.owners %}

        <fieldset class="mb-3">
            <legend>{% translate 'Timeslots' %}</legend>

            {% if object.layout == object.LIST %}
                <div data-js="multi-datetime-list">
                    {% for date, row in form.timeslots.value.timeslots.items %}
                        {% for time, slot in row.items %}
                            {% if slot.checked %}
                                <div class="row mb-3">
                                    <input type="hidden" name="timeslots" value="{{ date|date:'Y-m-d' }} {{ time|date:'H:i' }} {{ slot.comment }}">
                                    <div class="col-md">
                                        <input type="date" class="form-control" value="{{ date|date:'Y-m-d' }}" required>
                                    </div>
                                    <div class="col-md">
                                        <input type="time" class="form-control" value="{{ time|date:'H:i' }}" required>
                                    </div>
                                    <div class="col-md">
                                        <input type="text" class="form-control" value="{{ slot.comment }}" maxlength="64">
                                    </div>
                                    <div class="col-md flex-grow-0">
                                        <button type="button" class="btn btn-sm btn-light" title="{% translate 'Delete' %}">🗑</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <button type="button" class="btn btn-secondary" data-js="add">{% translate 'Add timeslot' %}</button>
                </div>
            {% else %}
                <div class="mb-3 row gx-2 align-items-center">
                    <div class="col col-sm-4">
                        <input type="date" form="add_date" name="input" class="form-control" required>
                    </div>
                    <label class="col flex-grow-0">
                        <span class="visually-hidden">{% translate 'Check new checkboxes' %}</span>
                        <input type="checkbox" form="add_date" name="checked" title="{% translate 'Check new checkboxes' %}" checked>
                    </label>
                    <div class="col">
                        <button form="add_date" class="btn btn-secondary">{% translate 'Add date' %}</button>
                    </div>
                </div>
                <div class="mb-3 row gx-2 align-items-center">
                    <div class="col col-sm-4">
                        <input type="time" form="add_time" name="input" class="form-control" required>
                    </div>
                    <label class="col flex-grow-0">
                        <span class="visually-hidden">{% translate 'Check new checkboxes' %}</span>
                        <input type="checkbox" form="add_time" name="checked" title="{% translate 'Check new checkboxes' %}" checked>
                    </label>
                    <div class="col">
                        <button form="add_time" class="btn btn-secondary">{% translate 'Add time' %}</button>
                    </div>
                </div>

                <div class="full-width my-2">
                    <table class="table table-hover" data-js="multi-datetime">
                        <thead>
                            <tr>
                                <th></th>
                                {% for time in form.timeslots.value.times %}
                                    <th class="text-center" data-value="{{ time|date:'H:i' }}">{{ time }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for date, row in form.timeslots.value.timeslots.items %}
                                <tr data-value="{{ date|date:'Y-m-d' }}">
                                    <th>{{ date }}</th>
                                    {% for time, slot in row.items %}
                                        <td class="p-0">
                                            <label class="d-block w-100 p-2 text-center">
                                                <input type="checkbox" name="timeslots" value="{{ date|date:'Y-m-d' }} {{ time|date:'H:i' }} {{ slot.comment }}" {% if slot.checked %}checked{% endif %}>
                                            </label>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% for error in form.timeslots.errors %}
                <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        </fieldset>

        {% if object %}
            <div class="mb-3">
                <label for="id_schedule_id">{% translate 'Schedule ID' %}</label>
                <div class="input-group">
                    <input id="id_schedule_id" class="form-control" value="{{ object.uuid }}" readonly>
                    <button type="button" class="btn btn-outline-secondary" tabindex="-1" data-clipboard="#id_schedule_id" data-animation="success">{% translate 'Copy' %}</button>
                </div>
            </div>
        {% endif %}

        <div class="d-print-none mb-3">
            <button class="btn btn-primary" >{% translate 'Save' %}</button>
            {% if object %}
                <a href="{% url 'schedule-delete' object.uuid %}" class="btn btn-danger">{% translate 'Delete' %}</a>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'scheduler.js' %}" type="module"></script>
{% endblock %}
